body{
    background-color: whitesmoke;
    color:dimgray;
}

header{
    border-bottom: solid 2px #2e8fc7;
    font-size: 35px;
    color:#2e8fc7
    padding: 20px;
}

h1{
    color:brown;
    font-size: 20px;
}

p{
    color:rgb(255, 159, 69);
    font-size: 20px;
}